
# folders
__pycache__
.ipynb_checkpoints
data
waymo_open_dataset
.git

experiments/reference

experiments/experiment1/checkpoint
experiments/experiment1/eval
experiments/experiment1/exported
experiments/experiment1/train

experiments/experiment2/checkpoint
experiments/experiment2/eval
experiments/experiment2/exported
experiments/experiment2/train

experiments/pretrained_model